%h1 Listing columns

%table
  %thead
    %tr
      %th Name
      %th Ident
      %th Posts count

  %tbody
    - @columns.each do |column|
      %tr
        %td= column.name
        %td= column.ident
        %td= column.posts_count
