#wrapper{
  .sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 225px;
    background: #222;
    a {
      color: #555;
      padding: 7px 0 3px;
      cursor: pointer;
      text-align: center;
      width: 33.33%;
      font-size: 17px;
      display: block;
      float: left;
      background: rgba(0, 0, 0, 0.4);
      &:hover {
        background: #333333;
        text-decoration: none;
      }
    }
  }
  #page-wrapper{
    padding-top: 20px;
    #welcome-intro{
      .active{
        color: #333;
      }
      .username{
        font-weight: bolder;
        padding-right: 5px;
      }
    }
    .operation-fa-pr3{
      padding-right: 3px;
      color: #888;
    }
    .operate-icons{
      .has-tooltip{
        color: #888;
        cursor: pointer;
      }
    }
    #admin-post-index{
      .tags-cell{
        width: 20%;
        a{
          display: inline-block;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
    #admin-column-index{
      .columns-create-field{
        display: none;
      }
      .add-columns-btn{
        display: inline;
      }
    }
    #admin-tag-index{
      .tags-create-field{
        display: none;
      }
      .add-tags-btn{
        display: inline;
      }
    }
    #admin-comment-index{
      .verfy-button{
        display: inline;
      }
      .operation{
        a:hover{
          text-decoration: none;
        }
      }
    }
    .bootstrap-tagsinput{
      width: 100%;
      input{
        width: 150px;
      }
    }
  }
  .create-blog{
    color: #3dca3d;
  }
}
@media screen and (max-width: 980px) {
  #wrapper{
    .hidden-area{
      display: none;
    }
    #page-wrapper{
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}