---
production:
  blogine: &1
    site_name: Blogine
    author_name: Zoker
    avatar: 'https://zoker.io/your_avatar.png'
    host: zoker.io
    description: Blogine is a blog base on Rails。
    keywords: ruby,rails,linux,git,javascript,css,nginx,zabbix,gitlab,drbd,heartbeat
    left_bar:
      menu:
        # Global left menu [ Index / Colomns / Tags / 作品 / 关于我 ]
        # set value to false to disable menu item
        obligate_1_name: 作品
        obligate_1_link: /projects
        obligate_2_name: 关于我
        obligate_2_link: /aboutme
    enable_captcha: true
development:
  blogine: *1
test:
  blogine: *1
staging:
  blogine: *1
