default: &default
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  database: nilstack
  username: root
  password: ""
  timeout: 5000

development:
  <<: *default
  database: nilstack

test:
  <<: *default
  database: nilstack_test

production:
  <<: *default
  database: nilstack_production