:plain
  $("#page-wrapper").html("#{escape_javascript(render('new'))}");
  $('.side-nav .active').removeClass('active')
  $('.side-nav .admin-post').addClass('active')
  $('.selectpicker').selectpicker();