.tags-field
  %h3
    所有标签
    %span.tags-count
      （共 #{@tags.size} 个）
  .list
    - @tags.each do |tag|
      .item
        = link_to tag do
          = tag.name
          .badge
            = tag.posts_count