// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container-area{
  .blog-list{
    margin-bottom: 20px;
    .post-item{
      padding: 20px 0 10px 0;
      border-bottom: 1px solid #efefef;
      &:first-child{
        padding-top: 10px;
      }
      .post-title{
        margin-bottom: 10px;
        a{
          color: #333;
          font-size: 26px;
          font-weight: bold;
          &:hover{
            color: #25a1a2;
            text-decoration: none;
          }
        }
      }
      .post-detail{
        font-size: 14px;
        color: #999999;
        .detail-item{
          display: inline;
          padding-right: 12px;
        }
        .edit-post{
          display: none;
          padding-right: 12px;
          a {
            color: #a8a8a8;
            &:hover{
              text-decoration: none;
              color: #888888;
            }
          }
        }
      }
      &:hover .edit-post{
        display: inline;
      }
    }
  }
}