// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container-area{
  .blog-list{
    margin-bottom: 20px;
    .post-item{
      padding: 20px 0 10px 0;
      border-bottom: 1px solid #efefef;
      &:first-child{
        padding-top: 10px;
      }
      .post-title{
        a{
          color: #333;
          font-size: 26px;
          font-weight: bold;
          &:hover{
            color: #25a1a2;
            text-decoration: none;
          }
        }
      }
      .post-intro{
        font-size: 15px;
        margin-bottom: 5px;
        color: #777777;
        line-height: 25px;
      }
      .post-detail{
        font-size: 14px;
        color: #999999;
        .detail-item{
          font-size: 13px;
          display: inline;
          padding-right: 12px;
          .label{
            padding: .1em .3em;
            text-shadow: 0 -1px 0 #aaa;
          }
          .label-default{
            background-color: #ccc;
          }
          a:hover{
            text-decoration: none;
          }
          &:last-child{
            font-size: 14px;
          }
          .fa-tags{
            color: #bbb;
          }
        }
      }
    }
  }
  #post-show{
    h2{
      margin: 0px;
    }
    .post-detail{
      margin-top: 5px;
      color: #999999;
      .detail-item{
        font-size: 14px;
        display: inline;
        padding-right: 12px;
        .label{
          padding: .1em .3em;
          text-shadow: 0 -1px 0 #aaa;
        }
        .label-default{
          background-color: #ccc;
        }
        a{
          color: #999;
          &:hover{
            text-decoration: none;
            color: #888888;
          }
        }
        .fa-tags{
          color: #bbb;
        }
      }
    }
    .post-intro{
      font-size: 14px;
      color: #777;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #eee;
      border-left-width: 5px;
      border-radius: 3px;
      border-left-color: #eee;
    }
  }
}