%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "index.html"} Blogine 后台管理
  .nav.navbar-right.top-nav.hidden-small
    %li
      %a{:href => "#"}
        返回博客首页
        .icon-arrow-right.icon-padding-5
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.side-nav
      %li.active
        %a{:href => "index.html"}
          .icon-dashboard.icon-padding-5
          管理首页
      %li
        %a{:href => "charts.html"}
          .icon-book.icon-padding-5
          文章管理
      %li
        %a{:href => "tables.html"}
          .icon-columns.icon-padding-5
          分类管理
      %li
        %a{:href => "forms.html"}
          .icon-tags.icon-padding-5
          标签管理
      %li
        %a{:href => "bootstrap-elements.html"}
          .icon-bar-chart.icon-padding-5
          访问统计
      %li
        %a{:href => "bootstrap-grid.html"}
          .icon-cogs.icon-padding-5
          博客设置
    .sidebar-footer.hidden-small
      %a.has-tooltip{"data-original-title" => "更新日志", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
        %span.icon-rss{"aria-hidden" => "true"}
      %a.has-tooltip{"data-original-title" => "建议反馈", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
        %span.icon-comments{"aria-hidden" => "true"}
      %a.has-tooltip{"data-original-title" => "退出", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
        %span.icon-signout{"aria-hidden" => "true"}
