.panel.panel-default.panel-profile
  .panel-heading
  .panel-body.text-center
    %a{:href => "/"}
      %img.panel-profile-img{:src => "http://p1.bpimg.com/567571/d9b21a15556b8b89.jpg"}/
    %h5.panel-title Zoker - Just do IT
    %p
      首页 / 分类 / 标签 / 作品 / 关于我
    %p
      - if current_user
        = link_to '退出', logout_path, method: :delete
      - else
        = link_to '登录', login_path
  .panel-footer
    Powered By Blogine